body {
    background-color: lightblue; /* background */
    color: white; /* text color */
    font-family: Arial, sans-serif;
    margin: 20px
}

.main-title {
    color: navy;
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px /* margin-bottom */
}

.bio {
    font-size: 20px;
    color: blue;
    margin-bottom: 5px; /* margin-bottom */
}

.my-why {
    font-size: 20px;
    color: blue;
    margin-bottom: 5px; /* margin-bottom */
}

.section-title {
    color: darkred;
    font-size: 24px;
    margin-bottom: 10px /* margin-bottom */
}

.focus-list li {
    font-size: 18px;
    color: darkgreen;
    margin-bottom: 5px; /* margin-bottom */
}

h3 {
    color: red;
}
.green-text {
    color: green;
    font-size: 16px;
    margin-bottom: 5px; /* margin-bottom */
}